@model LoginViewModel

@{ 
    ViewBag.Title = CommonConstants.AppNameUpperCase;
    ViewBag.PageType = "LOGIN";
}

<div class="m-1 p-1 d-inline-block">
    <h2>Input your credentials</h2>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input asp-for="Password" class="form-control" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Sign in" />
        </div>
    </form>
</div>
<div class="m-1 p-1 d-inline-block">
    <a class="btn btn-info container-fluid" asp-controller="Account" asp-action="Register">Sign up</a>
</div>