@{
    ViewBag.Title = Constants.AppNameUpperCase;
    ViewBag.PageType = "PROFILE";
}
<div>
    <a class="btn btn-sm btn-secondary navbar-btn ml-auto mr-1" asp-controller="Account" asp-action="Logout"><p2>LOGOUT</p2></a>
</div>

