@{
    ViewBag.Title = Constants.AppNameUpperCase;
    ViewBag.PageType = "ADMIN PAGE";
    Layout = "_AdminLayout";
}

<div class="m-2 d-inline-block">
    <form asp-action="SeedDatabaseWithFakeData" method="post">
        <button type="submit" class="btn btn-danger">Заполнить базу данных тестовыми данными</button>
    </form>
</div>

