<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-dark" role="navigation">
        <div class="row p-2">
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div class="">
            @RenderBody()
        </div>
    </div>
</body>
</html>
