@{
    ViewBag.Title = Constants.AppNameUpperCase;
}

<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div>
        HOME PAGE
    </div>
</div>
