@model ServicesListViewModel

@{
    ViewBag.Title = CommonConstants.AppNameUpperCase;
}

<div class="d-inline-block m-1 p-1">
    <div class="row p-1 m-1">
        <div class="flex-fill mb-4">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="flex-fill ml-3">
            @foreach (var s in Model.Services)
            {
                @await Html.PartialAsync("ServiceSummary", s)
            }

            <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-secondary" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
                 class="btn-group pull-right m-1">
            </div>
        </div>
    </div>
</div>