@{
    ViewBag.Title = Constants.AppNameUpperCase;
}

@if (ViewBag.Result)
{
    <div class="badge-success p-2 m-2">
        Бронирование успешно
    </div>
}
else
{
    <div class="badge-danger p-2 m-2">
        Ошибка при бронировании
    </div>
}


